.gmailTriggerNode {
  border: 2px solid #c3c9d5;
  height: 100px;
  width: 100px;
  border-radius: 40px 10px 10px 40px;
  background-color: #414244;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selectedNode {
  border: 2px solid #c3c9d5;
  height: 100px;
  width: 100px;
  border-radius: 40px 10px 10px 40px;
  background-color: #414244;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 8px solid #626262;
}
/* .testNode:active {
    outline: 8px solid #626262;
  } */
.gmailTriggerNodeIcon {
  color: #fbfcfe;
  font-size: 2.5rem;
}

.gmailTriggerNodeText {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: -50px;
  width: 120px;
}

.gmailTriggerNodeTitle {
  font-weight: 600;
  color: #f1f3ec;
  font-size: 1rem;
}
.gmailTriggerNodeDescription {
  font-weight: 400;
  color: #b5b6b4;
  font-size: 0.8rem;
}
